# Dependencies & Build Output
node_modules/
__pycache__/
*.pyc
.pytest_cache/
dist/
build/
.vite/
venv/
.venv/
env/


# Environment Variables (jangan di-commit!)
.env
*.env

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
logs/
