# Environment Variables — Node.js API Gateway
# Salin file ini menjadi .env dan sesuaikan nilainya

# URL FastAPI ML Engine
FASTAPI_URL=http://localhost:8000

# URL Frontend React (untuk CORS whitelist)
FRONTEND_URL=http://localhost:3000

# Port Node.js
PORT=5000
