/* ============================================
   Telco Churn Predictor — Global Styles
   ============================================ */

/* TODO: Implementasikan styling lengkap di fase 3 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f172a;
  color: #f1f5f9;
}

#root {
  min-height: 100vh;
}
